<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
<section class="about">
    <div class="about-content">
        <div class="about-content-item about-card">
            <img src="static/img/pic2.png" alt="Image">
        </div>
        <div class="about-content-item about-text">
            <h2>About Our Store</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit temporibus unde voluptatibus accusamus minus ducimus ipsum nulla, exercitationem numquam distinctio, error doloremque nostrum officia molestiae voluptas praesentium pariatur beatae ullam quod repellat libero nam dignissimos. Laborum ipsam similique laboriosam repellat fugiat explicabo, quisquam, vero nam doloremque, incidunt debitis cupiditate officiis!
            </p>
        </div>
    </div>
</section>
    <a href="{{url_for('index')}}">BACK</a>
</body>
</html>